<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">

  <div class="contenedor animated fadeIn delay-1s">
      <h2 class="titulo">Donde vas entrenar</h2>
      <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col size="12">      
        <ion-card class="color-tarjeta" (click)="entrenar(0)">
          <h2>Gym</h2>
        </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta" (click)="entrenar(1)" >
            <h2>Al aire libre</h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card class="color-tarjeta" (click)="entrenar(2)" >
            <h2>Casa</h2>  
          </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>    
      
      <!-- Pie de pagina en -->
      <div class="ion-padding-top">
        <ion-icon  slot="icon-only" name="arrow-forward-circle-outline" class="ion-padding-horizontal"
        (click)="avanzar()"></ion-icon> 
      </div>

  </div>

</ion-content>


