:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  ion-slides {
    height: 100%;
  }


  .my-grid {
    height: 100% !important;
    h2{
        font-size: 30px;
        font-weight: bold;
        opacity: 0.7;
    }
 }
.parent-row {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
 }

