<ion-header class="ion-no-border animated fadeIn delay-1s">
  <ion-toolbar>
    <ion-title class="ion-text-center">Paso {{contador}} de 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar value="0.{{progreso}}" color="danger" class="animated slideInLeft delay-1s"></ion-progress-bar>

  <ion-slides  #slide>
    <ion-slide>
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <app-edad (cambiarPantalla)="cambiar($event)"></app-edad>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide id="slide2">
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <app-estatura (cambiarPantalla)="cambiar($event)"></app-estatura>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide3">
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <app-peso (cambiarPantalla)="cambiar($event)"></app-peso>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide id="slide4">
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <app-historial (cambiarPantalla)="cambiar($event)"></app-historial>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
