.titulo {
  font-size: 25px;
  font-weight: 600;
}

.titulopeque {
  font-size: 22px;
  font-weight: 400;
}

.ion-grid2 {
  height: 100%;
}

.ion-row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ion-grid1 {
  height: 15%;
  width: 100%;
}

.ion-text-center.titulo {
  font-weight: 800;
  text-transform: capitalize;
}

.centrartiempo {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  padding-top: 30px;
}

/*Cambio de pantalla*/
.fullscrean {
  position: absolute;
  font-size: 40px;
  color: #fcfcfc;
  left: 310px;
  top: 150px;
}
