<video #myVideo autoplay playsinline 
(ended)="videoEnd()"
(loadedmetadata)="onMetadata($event, video)"
width="100%"
poster="https://s3.eu-central-1.amazonaws.com/pipe.public.content/poster.png">
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" />
</video>



<div class="ion-grid1" style="background-color:#F4F3F1;" >

  <ion-row>
    <ion-col size="12">
       <p class="ion-text-center titulo">{{nombre.name}}</p>
       <p class="ion-text-center">Ejercicio {{numero}} de {{final}}</p>
    </ion-col>
  </ion-row>

</div>

<ion-grid class="ion-grid2">
  <p class="center">tiempo {{timeLeft}}</p>
</ion-grid>



<ion-fab vertical="bottom"  horizontal="center" slot="fixed" *ngIf="mostrar">
  <ion-fab-button color="danger" (click)="pauseTimer()">
    <ion-icon name="pause-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom"  horizontal="center" slot="fixed"*ngIf="!mostrar">
  <ion-fab-button color="danger" (click)="playTimer()">
    <ion-icon name="play-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>




