.ion-text-center.titulo {
  font-weight: 800;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.ion-text-center.titulo {
  text-transform: capitalize;
}

.ion-grid1 {
  height: 15%;
  width: 100%;
}

.centrartiempo {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  padding-top: 30px;
}

.titulo {
  font-size: 15px;
}
