<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
  <ion-row >
  	<p class="ion-text-center titulo2" *ngIf="mostrartitulo">¡Prepárate!</p>
    <p class="center">0{{timeLeft}}</p>
  	<p class="center do">Comienza tu siguiente ejercicio</p>
    <ion-col class="centerdo" size="8" style="padding: 0px;" >
      <!-- https://via.placeholder.com/150 -->
      <!-- http://fittech247.com/fittech/imagenes/{{ejercipro.cod}}/{{ejercipro.id}}.jpg -->
      <img [src]= "imagen" *ngIf="imagen" >
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <!-- {{ejercipro.name}} -->
       <!-- <p class="ion-text-center titulo"  *ngIf="nombre"> {{nombre.name}}</p>    -->
    </ion-col>
  </ion-row>
  </ion-grid>
  <div class="grid2">
    <h1 class="titulodescanso" style="margin-top: 0px !important;color: white;">Descanso</h1>
  </div>


</ion-content>



