.ion-text-center.titulo {
    font-weight: 800;
}
.center {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
    padding: 20px;
}
h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.ion-text-center.titulo {
    text-transform: capitalize;
}
.ion-grid1{
    height:15%;
    width: 100%;
}

.redondear{
 border: 4px;
}