.ion-text-center.titulo {
  font-weight: 800;
}

.centerReloj {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  margin: 40;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.ion-text-center.titulo {
  text-transform: capitalize;
}

.ion-grid1 {
  height: 15%;
  width: 100%;
}

.redondear {
  border: 4px;
}
