<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">
  <div class="animated fadeIn delay-1s">
    <div class="animated fadeInLeft contenedor" *ngIf="!info">
      <h2 class="titulo" *ngIf="!info" style=" text-align: center;
      font-size: 25px;
      opacity: 0.7;">Enfoquémos en tus objetivos
        <ion-icon class="ayudad" name="help-circle" (click)="mostrar(info)"></ion-icon>
      </h2>
      <ion-grid class="my-grid">
        <ion-row class="parent-row">
          <ion-col size="12">
            <ion-card class="color-tarjeta" (click)="objetivo(0)" style="margin: 0 auto !important;
        border-radius: 10px !important;
        position: relative;
        bottom: 4px;">
              <h2>Estar en forma</h2>
            </ion-card>
            
          </ion-col>
          <ion-col size="12">
            <ion-card class="color-tarjeta" (click)="objetivo(1)" style="margin: 0 auto !important;
            border-radius: 10px !important;
            position: relative;
            bottom: 4px;">
              <h2>Ganar musculatura</h2>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="color-tarjeta" (click)="objetivo(2)" style="margin: 0 auto !important;
            border-radius: 10px !important;
            position: relative;
            bottom: 4px;">
              <h2>Adelgazar</h2>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="animated fadeInLeft" *ngIf="info">
      <ion-grid class="my-grid">
        <ion-row class="parent-row animated fadeInLeft">
          <div class="container">
            <h5 class="titulo">Ayuda
              <ion-icon class="ayudad2" name="close-outline" (click)="cerrar()"></ion-icon>
            </h5>
            <p class=".ion-text-justify"><b> Estar en forma : </b> El equilibrio perfecto entre verte bien y estar
              saludable.</p>
            <p class=".ion-text-justify"><b> Ganar musculatura:</b> la mejor opción para construir músculos magros y
              fuertes</p>
            <p class=".ion-text-justify"><b> Adelgazar: </b> Reduce medidas, disminuye tu porcentaje graso mientras
              mejoras tu composición corporal</p>
          </div>

        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>
<!-- 
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="piepagina ion-text-center">
      <p class="animated fadeIn delay-1s">¿Ya tienes una cuenta?</p>
      <p class="animated fadeInUp delay-2s" style="font-weight: bold;" (click)="login()">INICIAR SESSIÓN</p>
    </div>
  </ion-toolbar>
</ion-footer> -->