<h2>Tu historial médico</h2>
<ion-icon name="analytics-outline" class="iconSize" color="danger"></ion-icon>

  
<h2>Tu fucking  médico</h2>

  <ion-slide>
    <ion-toggle slot="start"></ion-toggle>
  </ion-slide>
  <ion-slide>
    <ion-toggle slot="start"></ion-toggle>
  </ion-slide>
  <ion-slide>
     <ion-toggle slot="start"></ion-toggle>
  </ion-slide>









<ion-fab vertical="bottom" horizontal="start" slot="fixed" >
  <ion-fab-button color="danger" (click)="atras()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>



