<ion-header>
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Test de Capacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col  size="12">   
        <div  class="ion-padding-horizontal">
          <img src="assets/img/testcapacidad1.jpeg"/>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid>  
 
  <div  class="ion-padding ion-text-center titulo">
    Déjanos conocer en qué nivel estás
  </div> 
  <div  class="ion-padding ion-text-justify">
    Trata de completar el siguiente test, sé muy honesto y muy consciente contigo mismo porque depende del nivel  será la intensidad de tu plan de entrenamiento.

  </div>   
  <div class="ion-padding ion-text-justify">
    Si paras antes de completarlo, toca el botón "hasta aquí llegué". Inmediatamente te diremos tu nivel.
  </div>

  <ion-grid class="ion-padding">
    <ion-row >
      <ion-col  size="12">   

        <ion-card  style="
        width: 286px; 
        border-radius: 10px;
        text-transform: uppercase;
        font-family: 'Open Sans';
        "
      color="dark"
      (click)="test()">
      <h2 style="margin: 10px; text-align: center;"> Hacer el test</h2> 
     </ion-card>


      </ion-col>
      
    </ion-row>
  </ion-grid>   


</ion-content>
