<ion-header>
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Test de Capacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row >
      <ion-col  size="12">   
        <div  class="ion-padding-horizontal">
          <img src="assets/img/casa.jpg"/>
        </div>   
      </ion-col>
    </ion-row>
  </ion-grid>  
 
  <div  class="ion-padding ion-text-center aumentartitulo">
    Déjanos conocer en qué nivel estás.
  </div> 
  <div  class="ion-padding ion-text-justify">
    Trata de completar el siguiente test, sé muy honesto y muy consciente contigo mismo porque depende del nivel  será la intensidad de tu plan de entrenamiento.

  </div>   
  <div class="ion-padding ion-text-justify">
    Si paras antes de completarlo, toca el botón "hasta aquí llegué". Inmediatamente te diremos tu nivel.
  </div>

  <ion-grid class="ion-padding">
    <ion-row >
      <ion-col  size="12">   
        <div>
          <ion-card style="    background: black;color: white;" (click)="test()">
            <h2 class="ion-text-center">
             <b> Hacer el test </b> </h2>  
          </ion-card>
        </div>   
      </ion-col>
      
    </ion-row>
    <ion-row >
      <ion-col  size="12">   
        <div>
          <ion-card style="    background: black;color: white;" (click)="goTo('/test-capacidad-manual')">
            <h2 class="ion-text-center">
             <b> ¿Sabes en qué condición estas? </b></h2>  
          </ion-card>
        </div>   
      </ion-col>
      
    </ion-row>
  </ion-grid>   


</ion-content>
