<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">

  <div class="contenedor">

      <h2 class="titulo">¿Listo para comenzar?</h2>

      <ion-grid class="my-grid">
      <ion-row class="parent-row">
        <ion-col size="12">      
          <ion-input type="text" placeholder="Email*" name="email" [(ngModel)]="login.email"></ion-input>
        </ion-col>
        <ion-col  size="12">      
          <ion-input type="password" placeholder="Password*" name="password" [(ngModel)]="login.password"></ion-input>
        </ion-col>
        <ion-col  size="12">      
          <ion-card color="dark" (click)="acceder()">
            <h2>Acceder</h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12" class="ion-margin-top">      
          <ion-card color="danger" style="margin-top:5%;" (click)="googleLogin()">
            <h2>Acceder con Google</h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <ion-card color="primary" (click)="facebookLogin()">
            <h2>Acceder con Facebook</h2>  
          </ion-card>
        </ion-col>
        <ion-col  size="12">      
          <a href="#">Recuperar Contraseña</a>
        </ion-col>
      </ion-row>
      </ion-grid>      

  </div>
</ion-content>


