<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bateria-alimento"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <img src="assets/img/logo-app.png" class="imagenmodificada">    
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">{{dataRecibida}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    
  <ion-item *ngFor="let alimento of alimentos">
    <ion-label class="ion-text-wrap">
      {{ucFirst(alimento.name)}}
    </ion-label>
    <ion-buttons slot="end">
      <!-- <ion-button color="danger">+</ion-button>
      <p>0</p>
      <ion-button color="danger">-</ion-button> -->
    </ion-buttons>  
  </ion-item>


</ion-content>

