.logo {
  margin: 0 auto;
  max-height: 150px;
}

.cabezera {
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  overflow: hidden;
}

.titulo {
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  /*   opacity: 0.7; */
  margin-bottom: 0;
}

.contenedorMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #EF4044;
  width: 95%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.09);
}

.contenedorMenuItem {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.tituloMenuItem {
  color: white;
  font-size: 1.1rem;
  margin: 0;
  opacity: .9;
}

.ContenedorTarjeta {
  width: 95%;
  height: 200px;
  background-color: #f1f1f1;
  position: relative;
  border-radius: 15px;
}

.ContenedorTarjetaTitulo {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(0%, -50%);
  background-color: #EF4044;
  color: white;
  margin: 1rem;
  float: right;
  border-radius: 6px;
  padding: 5px;
  width: 71px;
  text-align: center;
}

.ContenedorTarjetaIcono {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
