
<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
    <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<ion-content>

  <div class="ion-padding ion-text-left titulo">
    Resumen
  </div> 

  <div class="contenedorMenu">
    <div class="contenedorMenuItem">
        <p style="color: white;">Total Calorias</p>
        <ion-progress-bar value="0.5" color="dark"></ion-progress-bar>
        <p style="color: white;">999</p>
    </div>
    <!-- <div class="contenedorMenuItem">
      <p style="color: white;">Proteínas</p>
      <ion-progress-bar value="0.5" color="dark"></ion-progress-bar>
      <p style="color: white;">66/22g</p>
    </div>
    <div class="contenedorMenuItem">
      <p style="color: white;">Grasas</p>
      <ion-progress-bar value="0.5" color="dark"></ion-progress-bar>
      <p style="color: white;">66/22g</p>
    </div> -->
  </div>

  <div class="ion-padding ion-text-left titulo">
    Alimentación
  </div> 

  <ion-grid>
    <ion-row>
      <ion-col size="6" (click)="seleccion('Desayuno')">   
         <div class="ContenedorTarjeta">
            <div class="ContenedorTarjetaTitulo">
              Desayuno
            </div>
            <div class="ContenedorTarjetaIcono">
              <ion-icon name="add-circle-outline"  style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
              <p style="margin: 0;">Añadir</p>
            </div>
         </div>
      </ion-col>
      <ion-col size="6" (click)="seleccion('Almuerzo')">   
        <div class="ContenedorTarjeta">
           <div class="ContenedorTarjetaTitulo">
            Almuerzo
           </div>
           <div class="ContenedorTarjetaIcono">
            <ion-icon name="add-circle-outline"  style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
            <p style="margin: 0;">Añadir</p>
           </div>
        </div>
     </ion-col>
     <ion-col size="6" (click)="seleccion('Snack')">   
      <div class="ContenedorTarjeta">
         <div class="ContenedorTarjetaTitulo">
          Snack
         </div>
         <div class="ContenedorTarjetaIcono">
          <ion-icon name="add-circle-outline"  style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
          <p style="margin: 0;">Añadir</p>
         </div>
      </div>
     </ion-col>
     <ion-col size="6" (click)="seleccion('Cena')">   
      <div class="ContenedorTarjeta">
         <div class="ContenedorTarjetaTitulo">
          Cena
         </div>
         <div class="ContenedorTarjetaIcono">
          <ion-icon name="add-circle-outline"  style="font-size: 35px; margin-top: 22px;" color="dark"></ion-icon>
          <p style="margin: 0;">Añadir</p>
         </div>
      </div>
   </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
