<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/img/casa.jpg" style="margin-top: 40px;  margin-bottom: 0px; padding-bottom: 0px;"/>
        <h2 style="font-size: 3rem;">
         <b style="font-family: 'Oswald', sans-serif; font-size:53px;"> ¡Felicidades!</b></h2>
         <h2 class="titulo" *ngIf="!info" style=" text-align: center;
      font-size: 25px;
      opacity: 0.7;">Su nivel es {{nivel}}
      </h2>
      <!--   <ion-button expand="block" style="    --background: red;
        font-size: 1rem;
        margin: 0 auto;
        width: 286px;
        height: 59px;
        --border-radius: 10px;">
        <b>  {{nivel}}</b>
        </ion-button> -->
        <p style="font-size: 18px;">{{mensaje}}</p>
      </div>
    
      <ion-button  color="dark" expand="block"  (click)="finalizar()" style="
      font-size: 1rem;
      margin: 0 auto;
      width: 286px;
      height: 59px;
      --border-radius: 10px;">
         <b> Finalizar</b>
        </ion-button>

    </ion-slide>
  </ion-slides>