<ion-header [translucent]="true" class="ion-no-border">
  <div class="cabezera">
      <img src="assets/img/logo-app.png" class="logo">
  </div>
</ion-header>

<!-- Logo incluido ante no estaba -->

<ion-content class="animated fadeIn delay-1s">
  
  <h1 class="ion-padding"><b>Bienvenido,  {{Bienvenido}} </b></h1>
  <h2>Has realizado # <b style="color: red;">{{week['routine_ready_week']}}</b> ejercicios esta semana </h2>
  <!-- <div *ngIf="ExamenCliente === 0">
    <ion-grid id="tablaexamen">
      <ion-row >
        <h4 class="ion-padding-horizontal">Completa los <b>test ahora!</b> </h4>
        <ion-col  size="6" id="fuerza">   
          <div  class="ion-padding-vertical" (click)="Fuerza()" >
            <div class="centered">Test de Fuerza</div>
            <img class="bor" src="assets/img/test-fuerza2.png"/>
          </div>   
        </ion-col>
        <ion-col  size="6"  id="resistencia">   
          <div  class="ion-padding-vertical" (click)="Resistencia()">
            <div class="centered">Test de Resistencia</div>
            <img class="bor" src="assets/img/test-resistencia2.png" />
          </div>   
        </ion-col>
      </ion-row>
    </ion-grid>   
  </div>  -->

  <div *ngIf="ExamenCliente === 2">
    <h1 class="ion-padding ion-text-center" id="capacidad"><b>Debes realizar el test para poder empezar tu entrenamiento</b></h1>
    <ion-grid id="tablaexamen">
      <ion-row id="capacidad">
      <h4 class="ion-padding-horizontal">Hacer el <b>test</b> </h4>

      <ion-col  size="12">   
        <div  class="ion-padding-vertical" (click)="Capacidad()" >
          <div class="centered">Test</div>
          <img class="bor" src="assets/img/test-casa.png"/>
        </div>   
      </ion-col>

    </ion-row>
  </ion-grid>  
  </div>
  

  <ion-grid>
    <ion-row>
      <ion-col size="12">   

        <h4 class="ion-padding-horizontal">Tu <b>rutina</b> de hoy</h4>
          <img  src="assets/img/rutina2.png"  class="ejercicio bor"/>
          <ion-button shape="round" color="dark" class="centered2" (click)="rutinas()">Ver rutina</ion-button>
      </ion-col>

      <ion-col size="12"> 
      <hr>  
        <h4 class="ion-padding-horizontal"><b>Comidas</b></h4>
          <ion-button shape="round" color="dark" class="centered2" (click)="nutricion()">Ver Alimentos</ion-button>
          <img  src="assets/img/comidas.png" class="ejercicio bor"/>
      </ion-col>

      <ion-col size="12"> 
      <hr>  
        <h4 class="ion-padding-horizontal"><b>Progreso</b></h4>
          <ion-button shape="round" color="dark" class="centered2">Ver progreso</ion-button>
          <img  src="assets/img/graficas.png" class="ejercicio bor" />
      </ion-col>

    </ion-row>
  </ion-grid>  


</ion-content>

