*{
  font-family: 'Quicksand', sans-serif;
}

.ejercicio{
  max-width: 100%;
  height: auto;
}

.evaluacion{
  width: 100%;
  height: auto!important;
}

.ocultar{
  display: none;
}


.centered {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2{
  opacity: 0.7;
  text-align: center;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}



