<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Vista previa de los entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <p class="ion-text-center"> Complete 3 series de la siguiente rutina </p>
    <ion-item (click)="bateria()">
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label>
        <h2>10 x Remo mancuerna</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label>
        <h2> 6 x Rotacion externa elastico</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label>
        <h2> 6 x Push ups sobre rodilla</h2>
      </ion-label>
    </ion-item>



    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label>
        <h2> 6 x Curl polea cuerda</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label>
        <h2> 6 x Curl polea cuerda</h2>
      </ion-label>
    </ion-item>

  </ion-list>

    <a (click)="comenzar()" class="float">
      ¡Comenzar!
    </a>

</ion-content>
