<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">Tu entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <div *ngIf="ocultar">

  
  <ion-list>
    <p class="ion-text-center opci"><b> Serie 1 (3 veces)</b></p>

    <ion-item *ngFor="let ejercicio of serie; trackBy: customTB">
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{ejercicio.name  | capitalizado }}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarpop($event, ejercicio.name , ejercicio.repetitions , ejercicio.id)">
          <ion-icon slot="start" md="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
    <ion-list>
    <p class="ion-text-center opci"><b> Serie 2 (3 veces)</b></p>

    <ion-item *ngFor="let ejercicio of serie; trackBy: customTB">
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{ejercicio.name  | capitalizado }}</h2>

      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarpop($event, ejercicio.name , ejercicio.repetitions , ejercicio.id)">
          <ion-icon slot="start" md="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list>
    <p class="ion-text-center opci"><b> Serie 3 (3 veces)</b></p>

    <ion-item *ngFor="let ejercicio of serie; trackBy: customTB">
      <ion-thumbnail slot="start">
        <img src="assets/img/press-banca-1.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{ejercicio.name  | capitalizado }}</h2>

      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="mostrarpop($event, ejercicio.name , ejercicio.repetitions , ejercicio.id)">
          <ion-icon slot="start" md="ellipsis-horizontal"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

    <a (click)="comenzar()" class="float">
      ¡Comenzar!
    </a>
  </div>

  <div *ngIf="!ocultar">
    <p class="ion-text-center">Complete los test para cargar las rutinas</p>
  </div>


</ion-content>
